@font-face {
  font-family: Romanicums;
  src: url('../fonts/Romanicum Regular.ttf');
}

@font-face {
  font-family: Numeros;
  src: url('../fonts/Engineer_sHand.tff');
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
}

.cHiden{
    display:none;
}

body{
    background-image: url('galery/fondo.jpg');
    font-family: Romanicums;
    -webkit-text-size-adjust: 100%;
<<<<<<< Updated upstream
    -ms-text-size-adjust: 100%;
}

.normal, .molon{
    color:white;
}

.rock{
    color: black;
=======
      -ms-text-size-adjust: 100%;
	background-repeat: no-repeat;
	background-size: cover;
>>>>>>> Stashed changes
}

div, span{
    cursor:default;
}

/*formulario entrada*/

#logo_index{
    width:500px;
  height: 250px;
    position:absolute;
    top:2%;
    left:5%;
    background-image: url('galery/logo_index.png');
     background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -6px;
}

#logo_index:hover{
   background-image: url('galery/logo_marcat_index.png');
   cursor: pointer;
}


#urano { z-index: 60; position: absolute; top: 240px; left: 50%; width: 25px; display: none;}

#luna { z-index: 60; position: absolute; top: 320px; left: 50%;  width: 20px; display: none;}

#tierra { z-index: 60; position: absolute; top: 350px; left: 50%;  width: 30px; display: none;}

#marte { z-index: 60; position: absolute; top: 380px; left: 50%;  width: 35px; display: none;}

#jupiter { z-index: 60; position: absolute; top: 350px; left: 50%;  width: 50px; display: none;}

#saturno { z-index: 60; position: absolute; top: 280px; left: 50%;  width: 40px; display: none;}


#NomForm{
    width:200px;
}

#PwForm{
   width:200px; 
}

#test form input[type=text]{
    font-family:sans-serif;
}

#test form{
    text-align:center;
    padding:5%;
}

#test{
    position:absolute;
    width:50%;
    max-width:400px;
    border-radius:5px;  
    background-image:url('galery/fondo-metal.png');
    background-position-x: 600px;
    background-position-y: -400px;
/*    background-size: contain;*/
    border:10px solid;
    box-shadow:0 0 20px 2px white;
    text-decoration:none;
    top:30%;
    left:40%;
    z-index: 30;
  
    
}

#NomForm, #PwForm, #MailForm, #RecoveryForm{
    background-color:#b9e9fd;
}

#test ul li{
    list-style:none;
    margin-top:5px;
    margin-bottom:10px;
}

#BtForm{
    cursor:pointer;
    margin-top: 20px;
    box-shadow: 0 0 20px 2px black;
    background-color: #ccc;
    border: solid 2px #333;
    border-radius: 4px;
    height: 40px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
}

#BtForm:hover{
   box-shadow: 0 0 20px 2px yellow; 
   border-color: gold;
   background-color: #fdf5ce;
}

#BtRecoveryAjax{
   cursor:pointer;
    margin-top: 20px;
    box-shadow: 0 0 20px 2px black;
    background-color: #ccc;
    border: solid 2px #333;
    border-radius: 4px;
    height: 40px;
    width: 140px;
    font-size: 16px;
    font-weight: bold; 
}

#BtRecoveryAjax:hover{
   box-shadow: 0 0 20px 2px yellow; 
   border-color: gold;
   background-color: #fdf5ce;    
}

#test form fieldset label{
    font-size: 18pt;
}

#NomForm{
    height: 30px;
    width: 300px;
    font-size:14pt;
    
}

#PwForm{
    height: 30px;
    width: 300px; 
    font-size:14pt;

}

#MailForm{
    height: 30px;
    width: 300px;
    font-size:14pt;
}

#RecoveryForm{
    height: 30px;
    width: 300px;
    font-size:14pt;
}

#recovery, #back_recovery{
 float: left;
 font-size: 10pt;
color: black;
 margin-left: 20px;
 cursor: pointer;
}

#recovery:hover, #back_recovery:hover{
    color: #2187e7;
    font-weight: bold;
}

#form_recovery{
    display:none;
}


#correct_message{
    height:227px;
    font-size: 18pt
}



/*fin formulario entrada*/



/*loading*/
.load {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    top:207px;
    position: relative;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.load1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    top:122px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#cargando{
    color:white;
    display:block;
    font-size: 40px;
    position:relative;
    margin-left:310px;
    margin-top:230px;
   
}

#cargando:first-letter{
    text-shadow: 0 0 10px #6699ff,
                   0 0 20px #6699ff,
                   0 0 30px #6699ff,
                   0 0 40px #66ccff,
                   0 0 70px #66ccff,
                   0 0 80px #66ccff,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
}

/*fi loading */



body a{
    color:black;
    text-decoration:none;
}
/**Plantilla**/

.gameover{
    background-image: url('galery/gameover.png');
    background-repeat:no-repeat;
    background-size: contain;
}

#plantilla{
    display:none;
    background-color: white;
    border: solid 8px #aaa;
    border-radius:4px;
    margin: 3% auto;
	
    /*height: 639px;*/
    width: 845px;
    height: 555px;
	
    /*width: 1008px;*/
    /*border: solid 1px black;*/
}

#plantillalogica{
    display:none;
    background-color: white;
    border: solid 8px #aaa;
    border-radius:4px;
    margin: 3% auto;
	
    /*height: 639px;*/
    width: 845px;
    height: 555px;
	
    /*width: 1008px;*/
    /*border: solid 1px black;*/
}

#portada{
    height:43%;
    /*border: solid 1px black;*/
    width: 96%;
    background-image: url('galery/tema.jpg');
    background-repeat: no-repeat;
    /*color: black;*/
    background-size: contain;

}

#portadalaberinto{
    height:25%;
    /*border: solid 1px black;*/
    width: 96%;
    background-image: url('galery/tema.jpg');
    background-repeat: no-repeat;
    /*    background-position-x: 50px;
        background-position-y: -7px;*/
    background-size: contain;

}

.pregunta{
    height:43%;
    /*border: solid 1px black;*/
    width:94%;
}

#marcadores{
    width:  96%;
    height: 45%;

    /*    margin-top:30%;*/
}

/*Fondos Botones*/
/*normal*/
body.normal .bt1{
    background-image: url('galery/boton_left.png');
    background-size: contain;
    /*background-size: cover;*/

}
body.normal .bt3{
    background-image: url('galery/boton_left.png');
    background-size: contain;
    /*background-size: cover;*/
}

body.normal .bt2{
    background-image: url('galery/boton_right.png');
    background-size: contain;
}
body.normal .bt4{
    background-image: url('galery/boton_right.png');
    background-size: contain;
}
body.normal .bt1:hover{
    background-image: url('galery/boton_left_hover.png');
    background-size: contain;
    
}
body.normal .bt3:hover{
    background-image: url('galery/boton_left_hover.png');
    background-size: contain;
    
}

body.normal .bt2:hover{
    background-image: url('galery/boton_right_hover.png');
    background-size: contain;
   
}
body.normal .bt4:hover{
    background-image: url('galery/boton_right_hover.png');
    background-size: contain;
   
}


/*molon*/
body.molon .bt1, .bt3{
    background-image: url('galery/cool_left.png');
    background-size: contain;
}

body.molon .bt2, .bt4{
    background-image: url('galery/cool_right.png');
    background-size: contain;
}

body.molon .bt1:hover{
    background-image: url('galery/cool_left_hoover.png');
    background-size: contain;
  
}
body.molon .bt3:hover{
    background-image: url('galery/cool_left_hoover.png');
    background-size: contain;
   
}
body.molon .bt2:hover{
    background-image: url('galery/cool_right_hoover.png');
    background-size: contain;
   
}
body.molon .bt4:hover{
    background-image: url('galery/cool_right_hoover.png');
    background-size: contain;
   
}


/*rock*/

body.rock .bt1{
    background-image: url('galery/rock_left.png');
    background-size: contain;
}

body.rock .bt3{
    background-image: url('galery/rock_left.png');
    background-size: contain;
}

body.rock .bt2{
    background-image: url('galery/rock_right.png');
    background-size: contain;
}

body.rock .bt4{
    background-image: url('galery/rock_right.png');
    background-size: contain;
}


body.rock .bt1:hover{
    background-image: url('galery/rock_left_hoover.png');
    background-size: contain;
  
}
body.rock .bt3:hover{
    background-image: url('galery/rock_left_hoover.png');
    background-size: contain;
   
}
body.rock .bt2:hover{
    background-image: url('galery/rock_right_hoover.png');
    background-size: contain;
   
}
body.rock .bt4:hover{
    background-image: url('galery/rock_right_hoover.png');
    background-size: contain;
   
}


/*Fin fondo botones*/


.bt1, .bt3{

    background-repeat: no-repeat;
    /*width: 378px;*/
    width: 48%;
    height: 22%;
    float: left;
    background-size: contain;
    background-position-y:0.4em;
}

.bt2, .bt4{
    /*border:none;*/
    background-repeat: no-repeat;
    background-size: contain;
    width: 48%;
    height: 22%;
    /*float: right;*/
    /*float:bottom;*/
    background-position-y:-0.4em;
}

.bt1:hover, .bt3:hover{

    background-repeat: no-repeat;
    /*width: 378px;*/
    cursor:pointer;
    background-position-y:0.4em;
    /*     width: 48%;
        height: 22%;  */
}

.bt2:hover, .bt4:hover{
    /*border:none;*/

    background-repeat: no-repeat;
    /*width: 378px;*/
    cursor:pointer;
    /*    width: 48%;
        height: 22%;*/
    background-position-y: -0.4em;
}

.marcando_right_normal{
    background-image:url('galery/boton_right_presionando.png') !important;
}

.marcando_left_normal{
    background-image:url('galery/boton_left_presionando.png') !important;
}

.marcando_left_molon{
    background-image:url('galery/cool_left_presionando.png') !important;
}

.marcando_right_molon{
    background-image:url('galery/cool_right_presionando.png') !important;
}


.marcando_left_rock{
    background-image:url('galery/rock_left_presionando.png') !important;
}

.marcando_right_rock{
    background-image:url('galery/rock_right_presionando.png') !important;
}

.respuesta{
    /*border: solid 1px black;*/
    //height:80px;
    height:100%;
    text-align: center;
    padding-top: 10%;
    padding-right:20px;
    padding-left: 30px;


    padding-bottom: 4%;
    font-weight: bold;

}

.respuestalogica{
    /*border: solid 1px black;*/
    //height:80px;
    height:100%;
    text-align: center;
    padding-top: 5%;
    padding-right:20px;
    padding-left: 30px;
    /*    font-size:40px;*/
	
    padding-bottom: 4%;
    font-weight: bold;
    color: white;
}

.respuestalogica img{
	width : 60px;
}
.preguntalogica {
	width: 150px;
	-webkit-transition: -webkit-transform 1s ease-out;
	
}

.preguntalogica:hover {
	
	-webkit-transform: scale(2);
	box-shadow:0 0 20px 2px black;
	
	
}


#vidas{
    margin-top: 0%;
    height:10%;
    width:96%;
    

}
#vidaslogic{
    margin-top: 0%;
    height:8%;
    width:96%;
    

}

#logo_icons{
    float:left;
    margin-left:50px;
    background-image: url('galery/logo_comodins.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width:230px;
}

#vidas_icons{
    float:left;
    margin-left:10px;
}

#vidas_icons:hover{
    cursor:pointer;
}

.icono_vidas0{
    /*border:solid 1px black;*/
    width:254px;
    height:100%;
    background-image: url('galery/saltar_nivel0.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_vidas1{
    /*border:solid 1px black;*/
    width:254px;
    height:100%;
    background-image: url('galery/saltar_nivel1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_vidas2{
    /*border:solid 1px black;*/
    width:254px;
    height:100%;
    background-image: url('galery/saltar_nivel2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_vidas3{
    /*border:solid 1px black;*/
    width:254px;
    height:100%;
    background-image: url('galery/saltar_nivel3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#logo_vides{
    float:left;
    width:150px;
    height:100%;
    background-image: url('galery/logo_vides.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#vidas_rest{
    float: left;
    width: 50px;
    height: 100%;
}

.cVidas_rest5{
    background-image: url('galery/vida_5.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest4{
    background-image: url('galery/vida_4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest3{
    background-image: url('galery/vida_3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest2{
    background-image: url('galery/vida_2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest1{
    background-image: url('galery/vida_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest0{
    background-image: url('galery/vida_0.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.size{
    font-size:2em;
    text-align: center;
    display: block;
    width: 315px;
    height: 70px;
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;
}
/**Fi plantilla**/

#getLvl{
    visibility: hidden;
}


/*Boostrap*/

#myModalLabel{
    color: black;
    font-family: Romanicums;
    font-weight: bold;
    font-size:25px;
}

.modal-content{
    border: solid 3px #333;
    font-size:22px;
   background: -moz-linear-gradient(-45deg, #f0f9ff 0%, #dee5e8 47%, #c0c8ce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f0f9ff), color-stop(47%,#dee5e8), color-stop(100%,#c0c8ce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #f0f9ff 0%,#dee5e8 47%,#c0c8ce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #f0f9ff 0%,#dee5e8 47%,#c0c8ce 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #f0f9ff 0%,#dee5e8 47%,#c0c8ce 100%); /* IE10+ */
    background: linear-gradient(135deg, #f0f9ff 0%,#dee5e8 47%,#c0c8ce 100%); /* W3C */
}

#form_config ul li{
        color: black;
        list-style-type: none;
        margin-top:15px;
    }
#btestilos{
    background-color: #ccc;
    border: solid 2px;
    border-radius: 4px;
    height: 40px;
    width: 120px;
    float: right;
    margin-right: 30px;
}

.no_portada{
    background-image: none !important;
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    margin-bottom:-20px;
    line-height: 45px;
    color: black;
}


.no_portadalogica{
    background-image: none !important;
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    margin-bottom:-10px;
    line-height: 45px;
}

.nivel_pantalla{
    border: 2px solid black;
    float:left;
    width: 70px;
    border-radius: 300px;
    text-align: center;
}

#tiempo2{
    font-size: 30pt;
    margin-right: 10px;
    margin-top: 10px;
    /*border: 2px solid;*/
    width: 110px;
    height: 110px;
    /*border-radius: 50px;*/
    padding-top:55px;
    padding-left:20px;
    display: none;
    background-image: url('galery/bomb.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bt_jocs_nivells{
    width: 350px;
    height: 100px;
    font-size: 30pt;
    font-family: Romanicums;
    box-shadow: 0 0 20px 2px black;
    background-color:#ddd;
    font-weight: bold;
}

.bt_jocs_nivells:hover{
   box-shadow: 0 0 20px 2px yellow; 
   border-color: gold;
   background-color: #fdf5ce;
   cursor: pointer;
}

#casalvl7{
    margin-top: 243px;
}



#extintor:hover{
    cursor: pointer;

}

#petrol:hover{
    cursor: pointer;
    
}

.bosque{
    background-image: url('galery/bosque_normal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bosque_quemado{
    background-image: url('galery/bosque_quemado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#piro{
    display: block;
    margin-left: 70px;
    margin-top: 20%;
    font-size: 100pt;
    color: red;
    display: none;
}


/*** lvl 9 ***/

.c91{
    background-color: #0af4dd;
    color:#fa0000;
}

.c92{
    background-color:#f5e65c;
    color: black;
}

.c93{
    background-color:#80ef52;
    color: #f46d18;
}

.c94{
    background-color:#fa0000;
    color:#0af4dd;
}

.c95{
    background-color: #1891f4;
    color: #f1c018; 
}

.c96{
    background-color:#23221e;
    color:whitesmoke;
}

.c97{
    background-color:#f46d18;
    color: #1891f4;
}

.c98{
    background-color:#c832cd;
    color:maroon;
}

.c99{
    background-color:#ea4fd1;
    color: #158a04;
}

.c910{
    background-color:#7f5819;
    color:white;
}

.c911{
    background-color: #ebd1a2;
    color: black;
}

.cgridFont{
    position: fixed !important;
    margin-left: 15%;
    font-size: 17pt;
    font-weight: bold;
    
}

.cgridFont li{

    text-align: center;
    line-height: 50px;
}

.tbl_lvl9{
    margin-top:30px;
    margin-left:35%;
 
}

.tbl_lvl9 td{
    width:45px;
    height:45px;
    /*border:1px solid black;*/
}

#try_again{
    display:block;
    margin-top:55%;
    margin-left:15%;
    float:left;
    -webkit-transform: rotate(-370deg);

}

#sortir_game{
    display:block;
    margin-top:55%;
    margin-left:55%;
    width: 310px;
    -webkit-transform: rotate(370deg);
}

.css_gameover{
    font-size: 35px;
    font-weight: bold;
    color: blue;
}

.css_gameover:hover{ 
    color: red;
    cursor: pointer; 
}

.rotar{
    -webkit-transform: rotate(720deg);
    -moz-transform:rotate(720deg);
    transform: rotate(720deg);           
}

.cVidas_rest_bye5{
    background-image: url('galery/vida_5bye.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest_bye4{
    background-image: url('galery/vida_4bye.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest_bye3{
    background-image: url('galery/vida_3bye.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest_bye2{
    background-image: url('galery/vida_2bye.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cVidas_rest_bye1{
    background-image: url('galery/vida_1bye.png');
    background-size: contain;
    background-repeat: no-repeat;
}





@media only screen and (max-width: 800px) {
    .size{
        font-size:1em;
    }
    #plantilla{
        width:100%;
        height:80%;
    }
}  

